body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    background-color : #2B2B2E;
}
header{

    background-color: #1C1C20;
    height: 50px;
    padding: 20px 30px;
}

.header a {
    float: left;
    color: #8A8A8B;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 25px; 
    line-height: 25px;
    border-radius: 4px;
}

.header a:hover, .name, i:hover, .contact a {
    color: red;
    text-decoration: none;
}

.header-right {
    float: right;
    margin-right: 100px;
}

main {
    color: white;
    font-size: 50px;
    border-radius: 0px;
    margin-left: 100px;
}

.contact {
    font-size: 25px;
    margin: 15px; 
    border: 2px solid red;
    width:150px; 
    height: 40px;
    text-align: center;
    margin-left: 200px;
}


.contact a:hover {
    color: white;
}

.moi {
    float: right;
    margin-right: 200px;
    margin-top: 80px;
    transition: transform 2s;
}

.moi:hover {
    transform: rotate(360deg);
}

.container, .contact_me, .internet{
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

.contact_me {
    margin-top: 65px;
}

.internet{
    margin-top: 25px;
    margin-right: 650px;
}

.Facebook, .Instagram, .Linkedin {
    height: 75px;

}

.Facebook {
    margin-top: 50px;
}

.main {
    margin-right: 100px;
    position: absolute;
    animation: mainmove 10s infinite 2s;
}

@keyframes mainmove {
    0% {left: 6.5%;}
    50% {left: 82%;}
    100% {left: 6.5%;}
}

.text {
    margin-left: 50px;
    font-size: 40px;
}

.table {
    display: flex;
    float: left;
    width: 600px;
    border: 4px solid red;
    border-radius: 4px;
    margin-right: 10px;
}

.table2 p{
    position: relative;
    margin: 100px;
    margin-left: -150px;
}
.table3 p{
    position: relative;
    margin: 100px;
    margin-left: -250px;
}

.ytb {
    margin-left: 100px;
}

.crayon {
    width: 100px;
    margin-left: 100px;
}

.paint, .sm {
    width: 200px;
    margin-left: 100px;
}
